<% @mail_broadcast_lists.each do |mbl| %>
    <tr>
      
      <td><%= mbl.name %></td>
      <td><%= mbl.contact_number %></td>
      <td><%= mbl.status %></td>
                              
     
     
		<td>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">GERER
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        
        <li>
            <%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"> Modifier</i>'),edit_mail_broadcast_list_path(mbl), remote: true , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Modifier"%>
        <li>

          <li>
            <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"> Supprimer</i>'), mail_broadcast_list_delete_path(mbl),:remote => true, class: "red-text" , "data-toggle"=>"tooltip", "data-placement"=>"top", title:"Supprimer"%>
            </li>
          
        
      </ul>
    </div>
  </td>
    </tr>
<% end %>